# Import the datasets

In [21]:
import numpy as np
import pandas as pd

In [22]:
network = pd.read_csv('network.csv',sep = ',')
inspections = pd.read_csv('inspections.csv',sep = ',')
fulmerged = pd.read_csv('fulmerged.csv',sep = ',')
incidence = pd.read_excel('incidence.xlsx')
xgu = pd.read_csv('XGBOOSTULTIMATE.csv',sep = ',')

In [23]:
network.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446539 entries, 0 to 1446538
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   PipeId               1446539 non-null  int64
 1   Province             1446539 non-null  object
 2   Town                 1446539 non-null  object
 3   YearBuilt            1446539 non-null  int64
 4   Material             1446539 non-null  object
 5   GasType              1446539 non-null  object
 6   Diameter             1446539 non-null  float64
 7   Length               1446539 non-null  float64
 8   Pressure             1446539 non-null  float64
 9   NumConnections       1446539 non-null  int64
 10  NumConnectionsUnder  1446539 non-null  int64
 11  BoolBridle           1446539 non-null  bool
dtypes: bool(1), float64(3), int64(4), object(4)
memory usage: 122.8+ MB

In [24]:
incidence.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2555 entries, 0 to 2554
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        2555 non-null   int64
 1   PipeId                            2555 non-null   int64
 2   InspectionYear                    2555 non-null   int64
 3   MonthsLastRev                     2555 non-null   int64
 4   Severity                          2555 non-null   int64
 5   Incidence                         2555 non-null   int64
 6   Province                          2555 non-null   object
 7   Town                              2555 non-null   object
 8   Material                          2555 non-null   object
 9   GasType                           2555 non-null   object
 10  Diameter                          2555 non-null   float64
 11  Length                            2555 non-null   float64
 12  Pressure                          2555 non-null   float64
 13  NumConnections                    2555 non-null   int64
 14  NumConnectionsUnder               2555 non-null   int64
 15  BoolBridle                        2555 non-null   bool
 16  volumetesttest                    2555 non-null   float64
 17  spil percentage                   2555 non-null   float64
 18  spil_to_cubicmeters               2555 non-null   float64
 19  spil_to_kwh                       2555 non-null   float64
 20  spil_price                        2555 non-null   float64
 21  spil_carbon_footprint             2555 non-null   float64
 22  total_spil_price                  2555 non-null   float64
 23  total_spil_carbon_footprint       2555 non-null   float64
 24  total price mult total footprint  2555 non-null   float64
dtypes: bool(1), float64(12), int64(8), object(4)
memory usage: 481.7+ KB

In [25]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6345344 entries, 0 to 6345343
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   PipeId          int64
 1   MaintenanceId   object
 2   InspectionYear  int64
 3   InspectionDate  object
 4   MonthsLastRev   int64
 5   Severity        int64
 6   Incidence       int64
dtypes: int64(5), object(2)
memory usage: 338.9+ MB

In [26]:
insp = inspections[inspections['InspectionYear'] > 2018]

In [27]:
xgu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909733 entries, 0 to 909732
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PipeId     909733 non-null  int64
 1   Incidence  909733 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 13.9 MB

In [28]:
insp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1352907 entries, 4977815 to 6345343
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   PipeId          1352907 non-null  int64
 1   MaintenanceId   1352907 non-null  object
 2   InspectionYear  1352907 non-null  int64
 3   InspectionDate  1352907 non-null  object
 4   MonthsLastRev   1352907 non-null  int64
 5   Severity        1352907 non-null  int64
 6   Incidence       1352907 non-null  int64
dtypes: int64(5), object(2)
memory usage: 82.6+ MB

In [29]:
net = network

In [30]:
inttt = incidence

# Creating new parameters

In [31]:
network.loc[:, 'volumetesttest'] = (3.14/4) * ((network['Diameter']/10).apply(np.sqrt)) * (network['Pressure']/8.314*298.15) * 0.8

### Selecting the data

In [32]:
incidence = incidence[incidence['Incidence'] == 1]
incidence = incidence[incidence['InspectionYear'] > 2018]

### New parameters in the new dataset

In [33]:
# Convert spill volume from cubic centimeters to cubic meters
incidence['spil_to_cubicmeters'] = incidence['volumetesttest'] / 100 

# Convert spill volume in cubic meters to energy in kilowatt-hours
incidence['spil_to_kwh'] = incidence['spil_to_cubicmeters'] / 2.244

# Define gas prices in euros per kilowatt-hour
gas_natural_price_per_kwh = 0.05
gas_propane_price_per_kwh = 0.11

# Calculate spill cost in euros per second
incidence['spil_price'] = 0.0
incidence.loc[incidence['GasType'] == 'Gas natural', 'spil_price'] = incidence.loc[incidence['GasType'] == 'Gas natural', 'spil_to_kwh'] * gas_natural_price_per_kwh * (incidence['Severity'] / 100)
incidence.loc[incidence['GasType'] == 'Gas propano', 'spil_price'] = incidence.loc[incidence['GasType'] == 'Gas propano', 'spil_to_kwh'] * gas_propane_price_per_kwh * (incidence['Severity'] / 100)

# Print total spill cost in euros per second
print(f"Total spill cost: {incidence['spil_price'].sum()} euros per second")

# Define carbon footprint in kilograms of CO2 per kilowatt-hour
gas_natural_carbon_footprint_per_kwh = 0.185
gas_propane_carbon_footprint_per_kwh = 0.138

# Calculate spill carbon footprint in kilograms of CO2 per second
incidence['spil_carbon_footprint'] = 0.0
incidence.loc[incidence['GasType'] == 'Gas natural', 'spil_carbon_footprint'] = incidence.loc[incidence['GasType'] == 'Gas natural', 'spil_to_kwh'] * gas_natural_carbon_footprint_per_kwh * (incidence['Severity'] / 100)
incidence.loc[incidence['GasType'] == 'Gas propano', 'spil_carbon_footprint'] = incidence.loc[incidence['GasType'] == 'Gas propano', 'spil_to_kwh'] * gas_propane_carbon_footprint_per_kwh * (incidence['Severity'] / 100)

# Print total spill carbon footprint in kilograms of CO2 per second
print(f"Total spill carbon footprint: {incidence['spil_carbon_footprint'].sum()} kg per second")

# Calculate the number of seconds in a month
seconds_per_month = 2419200

# Calculate total spill cost and carbon footprint for each pipeline
incidence['total_spil_price'] = incidence['spil_price'] * (incidence['MonthsLastRev'] * (seconds_per_month / 2))
incidence['total_spil_carbon_footprint'] = incidence['spil_carbon_footprint'] * (incidence['MonthsLastRev'] * (seconds_per_month / 2))

# Print total spill cost and carbon footprint for all pipelines
print(f"Total spill cost: {incidence['total_spil_price'].sum()} euros")
print(f"Total spill carbon footprint: {incidence['total_spil_carbon_footprint'].sum()} kg")

Total spill cost: 2.051522180826397 euros per second
Total spill carbon footprint: 5.234185670604507 kg per second
Total spill cost: 53461411.038721636 euros
Total spill carbon footprint: 138476901.23885608 kg

In [22]:
print(f"Total spill carbon footprint by gas type:")
grouped_data = incidence.groupby('GasType')
for group_name, group_data in grouped_data:
    total_carbon_footprint =( group_data['total_spil_carbon_footprint'].sum()/17520)
    print(f"{group_name}: {total_carbon_footprint} kg")

Total spill carbon footprint by gas type:
Gas natural: 6166.654429529961 kg
Gas propano: 1737.278289582829 kg

In [ ]:
inc = incidence.groupby('GasType').()

In [35]:
incs = incidence['Severity'].mean()

In [36]:
incs

2.6853228962818005

In [9]:
print(f"Total spill cost by gas type:\n{incidence.groupby('gastype')['total_spil_price'].sum()}")

print(f"Total cost by gas type:")
grouped_data = incidence.groupby('GasType')
for group_name, group_data in grouped_data:
    total_spil_price =( group_data['total_spil_price'].sum()/17520)
    print(f"{group_name}: {ttotal_spil_price} euros")

Total spill cost by gas type:
GasType
Gas natural    2.919994e+07
Gas propano    2.426147e+07
Name: total_spil_price, dtype: float64

In [15]:
print(f"Total cost by gas type:")
grouped_data = incidence.groupby('GasType')
for group_name, group_data in grouped_data:
    total_spil_price = (group_data['total_spil_price'].sum()/17520)
    print(f"{group_name}: {total_spil_price} euros")

Total cost by gas type:
Gas natural: 1666.6633593324223 euros
Gas propano: 1384.7870424210957 euros

# Strategy parameters

In [6]:
delete = [
    'MaintenanceId',
    'InspectionDate',
    'Incidence'
]
inspections = inspections.drop(delete, axis = 1)

merged = pd.merge(fulmerged, inspections, on="PipeId")

In [7]:
merged.loc[:, 'volumetesttest'] = (3.14/4) * ((merged['Diameter']/10).apply(np.sqrt)) * (merged['Pressure']/8.314*298.15) * 0.8

In [14]:
merged = merged[merged['Incidence'] == 1]
merged = merged[merged['InspectionYear'] > 2018]

In [17]:
mer=merged.groupby('Incidence').count()

In [18]:
mer

,PipeId,Province,Town,YearBuilt,Material,GasType,Diameter,Length,Pressure,NumConnections,...,InspectionYear,MonthsLastRev,Severity,volumetesttest,spil_to_cubicmeters,spil_to_kwh,spil_price,spil_carbon_footprint,total_spil_price,total_spil_carbon_footprint
Incidence,,,,,,,,,,,,,,,,,,,,,
1,186784,186784,186784,186784,186784,186784,186784,186784,186784,186784,...,186784,186784,186784,186784,186784,186784,186784,186784,186784,186784

In [20]:
count = merged['PipeId'].count()
# Convert spill volume from cubic centimeters to cubic meters
merged['spil_to_cubicmeters'] = merged['volumetesttest'] / 100 

# Convert spill volume in cubic meters to energy in kilowatt-hours
merged['spil_to_kwh'] = merged['spil_to_cubicmeters'] / 2.244

# Define gas prices in euros per kilowatt-hour
gas_natural_price_per_kwh = 0.05
gas_propane_price_per_kwh = 0.11

# Calculate spill cost in euros per second
merged['spil_price'] = 0.0
merged.loc[merged['GasType'] == 'Gas natural', 'spil_price'] = merged.loc[merged['GasType'] == 'Gas natural', 'spil_to_kwh'] * gas_natural_price_per_kwh * (merged['Severity'] / 100)
merged.loc[merged['GasType'] == 'Gas propano', 'spil_price'] = merged.loc[merged['GasType'] == 'Gas propano', 'spil_to_kwh'] * gas_propane_price_per_kwh * (merged['Severity'] / 100)

# Print total spill cost in euros per second
print(f"Total spill cost: {merged['spil_price'].sum()} euros per second")

# Define carbon footprint in kilograms of CO2 per kilowatt-hour
gas_natural_carbon_footprint_per_kwh = 0.185
gas_propane_carbon_footprint_per_kwh = 0.138

# Calculate spill carbon footprint in kilograms of CO2 per second
merged['spil_carbon_footprint'] = 0.0
merged.loc[merged['GasType'] == 'Gas natural', 'spil_carbon_footprint'] = merged.loc[merged['GasType'] == 'Gas natural', 'spil_to_kwh'] * gas_natural_carbon_footprint_per_kwh * (merged['Severity'] / 100)
merged.loc[merged['GasType'] == 'Gas propano', 'spil_carbon_footprint'] = merged.loc[merged['GasType'] == 'Gas propano', 'spil_to_kwh'] * gas_propane_carbon_footprint_per_kwh * (merged['Severity'] / 100)

# Print total spill carbon footprint in kilograms of CO2 per second
print(f"Total spill carbon footprint: {merged['spil_carbon_footprint'].sum()} kg per second")

# Calculate the number of seconds in a month
seconds_per_month = 2419200

# Calculate total spill cost and carbon footprint for each pipeline
merged['total_spil_price'] = merged['spil_price'] * (merged['MonthsLastRev'] * (seconds_per_month / 2))
merged['total_spil_carbon_footprint'] = merged['spil_carbon_footprint'] * (merged['MonthsLastRev'] * (seconds_per_month / 2))

# Print total spill cost and carbon footprint for all pipelines
print(f"Total spill cost: {merged['total_spil_price'].sum()} euros")
print(f"Total spill carbon footprint: {merged['total_spil_carbon_footprint'].sum()} kg")

Total spill cost: 204.86998179136685 euros per second
Total spill carbon footprint: 621.3065575063988 kg per second
Total spill cost: 5676670002.580232 euros
Total spill carbon footprint: 17218525497.53696 kg

In [10]:
0.0010968283246496854*60*60*24*365*

34589.57804615248

In [129]:
merged.sample(50)

,PipeId,Incidence,Province,Town,YearBuilt,Material,GasType,Diameter,Length,Pressure,...,InspectionYear,MonthsLastRev,Severity,volumetesttest,spil_to_cubicmeters,spil_to_kwh,spil_price,spil_carbon_footprint,total_spil_price,total_spil_carbon_footprint
2173944,189507821,1,Castellón,Castellon de la Plana/Cas,1950,PE,Gas natural,90.0,17.168,4.000,...,2019,24,4,270.249988,2.702500,1.204323,0.002409,0.008912,69923.932717,258718.551052
1486023,30169555,1,Toledo,Carranque,2017,PE,Gas propano,20.0,18.557,1.700,...,2019,22,4,54.143753,0.541438,0.241282,0.001062,0.001332,28251.573373,35442.882958
3414311,52358987,1,Girona,Girona,1978,PN,Gas natural,110.0,8.400,4.000,...,2020,24,4,298.772603,2.987726,1.331429,0.002663,0.009853,77303.816229,286024.120048
3047798,228311988,1,Barcelona,Manresa,1990,PE,Gas natural,160.0,125.942,0.025,...,2020,24,4,2.252083,0.022521,0.010036,0.000020,0.000074,582.699439,2155.987925
3162717,45920334,1,Toledo,Talavera de la Reina,1950,PE,Gas natural,63.0,20.773,4.000,...,2020,24,4,226.107362,2.261074,1.007609,0.002015,0.007456,58502.559402,216459.469788
263384,416311666,1,Barcelona,Cornella de Llobregat,1986,PE,Gas natural,63.0,143.183,4.000,...,2019,24,4,226.107362,2.261074,1.007609,0.002015,0.007456,58502.559402,216459.469788
2484160,134014225,1,Palencia,Palencia,1992,PE,Gas natural,160.0,83.943,4.000,...,2019,24,4,360.333317,3.603333,1.605763,0.003212,0.011883,93231.910289,344958.068070
2389254,191043151,1,Barcelona,Barcelona,1973,FD,Gas natural,150.0,22.920,0.025,...,2019,24,4,2.180570,0.021806,0.009717,0.000019,0.000072,564.196306,2087.526332
2842225,45853012,1,Albacete,Albacete,1993,PE,Gas natural,90.0,61.669,4.000,...,2019,23,4,270.249988,2.702500,1.204323,0.002409,0.008912,67010.435520,247938.611425
2916555,191029508,1,Barcelona,Castellar Del Valles,1987,PE,Gas natural,110.0,22.549,0.100,...,2019,24,4,7.469315,0.074693,0.033286,0.000067,0.000246,1932.595406,7150.603001
3757113,4538010,1,Valencia,Rocafort,2013,PE,Gas natural,63.0,114.636,4.000,...,2020,24,4,226.107362,2.261074,1.007609,0.002015,0.007456,58502.559402,216459.469788
2185436,46395189,1,Madrid,Coslada,2017,PN,Gas natural,63.0,57.981,4.000,...,2019,23,4,226.107362,2.261074,1.007609,0.002015,0.007456,56064.952760,207440.325214
295627,38208403,1,Madrid,El Álamo,2017,PE,Gas propano,40.0,7.475,1.700,...,2019,24,4,76.570830,0.765708,0.341225,0.001501,0.001884,43585.918060,54680.515385
3665630,22786316,1,Toledo,Villaluenga de la Sagra,2015,PE,Gas natural,90.0,40.908,4.000,...,2020,24,4,270.249988,2.702500,1.204323,0.002409,0.008912,69923.932717,258718.551052
153935,188850542,1,Barcelona,Sabadell,1998,PE,Gas natural,110.0,114.324,0.025,...,2019,24,4,1.867329,0.018673,0.008321,0.000017,0.000062,483.148851,1787.650750
295525,38243210,1,Madrid,El Álamo,2017,PE,Gas propano,40.0,5.254,1.700,...,2019,24,4,76.570830,0.765708,0.341225,0.001501,0.001884,43585.918060,54680.515385
1227889,190757918,1,Barcelona,Ripollet,1901,AO,Gas natural,203.2,4.009,4.000,...,2019,24,4,406.075026,4.060750,1.809604,0.003619,0.013391,105067.026950,388747.999715
241649,35669445,1,Toledo,Camarena,2016,PE,Gas propano,40.0,23.882,1.700,...,2019,23,4,76.570830,0.765708,0.341225,0.001501,0.001884,41769.838141,52402.160577
485158,306717431,1,Barcelona,Barcelona,2007,PE,Gas natural,160.0,20.817,0.025,...,2019,24,4,2.252083,0.022521,0.010036,0.000020,0.000074,582.699439,2155.987925
1310694,189480308,1,Valencia,Valencia,1950,PE,Gas natural,90.0,86.141,0.025,...,2019,24,4,1.689062,0.016891,0.007527,0.000015,0.000056,437.024579,1616.990944
1028359,45504225,1,Lugo,Foz,2017,PN,Gas natural,110.0,2.729,4.000,...,2019,24,4,298.772603,2.987726,1.331429,0.002663,0.009853,77303.816229,286024.120048
883319,278517470,1,Madrid,Madrid,1995,PE,Gas natural,160.0,68.679,0.025,...,2019,22,4,2.252083,0.022521,0.010036,0.000020,0.000074,534.141153,1976.322265
1778923,31313267,1,Alicante,Torrevieja,2016,PE,Gas natural,63.0,159.848,0.150,...,2019,24,4,8.479026,0.084790,0.037785,0.000076,0.000280,2193.845978,8117.230117
3471066,54841631,1,Huelva,Lepe,2016,PE,Gas natural,40.0,7.294,4.000,...,2020,25,4,180.166659,1.801667,0.802882,0.001606,0.005941,48558.286609,179665.660453
742980,393201865,1,Madrid,Madrid,2011,PE,Gas natural,200.0,18.479,0.025,...,2019,22,4,2.517906,0.025179,0.011221,0.000022,0.000083,597.187964,2209.595465
2343908,188509519,1,Tarragona,Salou,1988,PE,Gas natural,110.0,108.517,0.100,...,2019,24,4,7.469315,0.074693,0.033286,0.000067,0.000246,1932.595406,7150.603001
777801,188128059,1,Barcelona,Sant Pere de Ribes,1992,PE,Gas natural,63.0,30.087,0.100,...,2019,24,4,5.652684,0.056527,0.025190,0.000050,0.000186,1462.563985,5411.486745
2484065,36099781,1,Lleida,Senterada,2016,PE,Gas propano,63.0,5.154,1.700,...,2019,24,4,96.095629,0.960956,0.428234,0.001884,0.002364,54699.893041,68623.502179
2625678,51177428,1,Madrid,Madrid,1994,PE,Gas natural,200.0,63.959,0.025,...,2020,22,3,2.517906,0.025179,0.011221,0.000017,0.000062,447.890973,1657.196599
3245132,37447204,1,Sevilla,Sevilla,1986,FD,Gas natural,150.0,68.039,0.025,...,2020,23,4,2.180570,0.021806,0.009717,0.000019,0.000072,540.688127,2000.546069
1690318,189424817,1,Valencia,Valencia,1950,FD,Gas natural,250.0,93.397,0.025,...,2019,24,4,2.815104,0.028151,0.012545,0.000025,0.000093,728.374299,2694.984907
1809038,29086313,1,La Coruña,Betanzos,2015,PE,Gas natural,110.0,89.276,4.000,...,2019,22,4,298.772603,2.987726,1.331429,0.002663,0.009853,70861.831543,262188.776711
2370705,25454348,1,Madrid,Getafe,1992,PE,Gas natural,63.0,5.001,4.000,...,2019,23,4,226.107362,2.261074,1.007609,0.002015,0.007456,56064.952760,207440.325214
581010,404301698,1,Alicante,San Vicente del Raspeig/S,2011,PE,Gas natural,90.0,142.253,0.150,...,2019,24,4,10.134375,0.101344,0.045162,0.000090,0.000334,2622.147477,9701.945664
3168664,231392977,1,Barcelona,Barcelona,1974,FD,Gas natural,150.0,14.897,0.025,...,2020,24,4,2.180570,0.021806,0.009717,0.000019,0.000072,564.196306,2087.526332
2802238,305948748,1,Ciudad Real,Alcázar de San Juan,2002,PE,Gas natural,90.0,112.030,4.000,...,2019,24,4,270.249988,2.702500,1.204323,0.002409,0.008912,69923.932717,258718.551052
2449709,28581004,1,Palencia,Guardo,2016,PE,Gas natural,90.0,62.424,4.000,...,2019,24,4,270.249988,2.702500,1.204323,0.002409,0.008912,69923.932717,258718.551052
2176162,41364758,1,Alicante,Alfaz del Pi,2017,PE,Gas natural,110.0,208.596,4.000,...,2019,24,4,298.772603,2.987726,1.331429,0.002663,0.009853,77303.816229,286024.120048
242910,188519638,1,Barcelona,Vilafranca del Penedès,1990,PE,Gas natural,90.0,65.751,4.000,...,2019,24,4,270.249988,2.702500,1.204323,0.002409,0.008912,69923.932717,258718.551052
143305,278519760,1,Guadalajara,Azuqueca de Henares,1997,PE,Gas natural,315.0,188.105,0.150,...,2019,24,4,18.959679,0.189597,0.084491,0.000169,0.000625,4905.588738,18150.678331
1640993,298133844,1,Madrid,Madrid,1990,PE,Gas natural,110.0,62.516,0.025,...,2019,21,4,1.867329,0.018673,0.008321,0.000017,0.000062,422.755245,1564.194407
1245498,37575348,1,Madrid,Villalbilla,2016,PE,Gas natural,110.0,6.453,4.000,...,2019,22,4,298.772603,2.987726,1.331429,0.002663,0.009853,70861.831543,262188.776711
1741000,22159623,1,Barcelona,Alella,2015,AO,Gas natural,152.4,0.811,4.000,...,2019,24,4,351.671288,3.516713,1.567163,0.003134,0.011597,90990.714439,336665.643424
292074,2845167,1,Barcelona,Sant Pere de Riudebitlles,1995,PE,Gas natural,90.0,138.855,0.100,...,2019,24,4,6.756250,0.067562,0.030108,0.000060,0.000223,1748.098318,6467.963776
2965609,189338411,1,Barcelona,Barcelona,1978,FD,Gas natural,250.0,3.065,0.025,...,2019,24,4,2.815104,0.028151,0.012545,0.000025,0.000093,728.374299,2694.984907
211106,188011317,1,Barcelona,Barbera Del Valles,1985,PE,Gas natural,110.0,31.569,0.025,...,2019,24,4,1.867329,0.018673,0.008321,0.000017,0.000062,483.148851,1787.650750
3159946,191101270,1,Barcelona,Terrassa,1990,PE,Gas natural,110.0,17.045,0.025,...,2020,24,4,1.867329,0.018673,0.008321,0.000017,0.000062,483.148851,1787.650750
3254797,191181494,1,Barcelona,Badalona,1996,PE,Gas natural,160.0,47.184,0.025,...,2020,24,4,2.252083,0.022521,0.010036,0.000020,0.000074,582.699439,2155.987925
3492417,191485032,1,Barcelona,Barcelona,1976,FD,Gas natural,150.0,31.809,0.025,...,2020,23,4,2.180570,0.021806,0.009717,0.000019,0.000072,540.688127,2000.546069
572982,10589275,1,Girona,Riudarenes,2014,PE,Gas natural,20.0,7.856,2.000,...,2019,24,4,63.698533,0.636985,0.283862,0.000568,0.002101,16481.228997,60980.547289

In [125]:
incidence.count()

Unnamed: 0                          2555
PipeId                              2555
InspectionYear                      2555
MonthsLastRev                       2555
Severity                            2555
Incidence                           2555
Province                            2555
Town                                2555
Material                            2555
GasType                             2555
Diameter                            2555
Length                              2555
Pressure                            2555
NumConnections                      2555
NumConnectionsUnder                 2555
BoolBridle                          2555
volumetesttest                      2555
spil percentage                     2555
spil_to_cubicmeters                 2555
spil_to_kwh                         2555
spil_price                          2555
spil_carbon_footprint               2555
total_spil_price                    2555
total_spil_carbon_footprint         2555
total price mult total footprint    2555
dtype: int64

In [16]:
xgu = pd.read_csv('XGBOOSTULTIMATE.csv',sep = ',')

           PipeId
Incidence
0.023512        2
0.023899        1
0.023955        1
0.024137        3
0.024315        2
...           ...
0.978271        1
0.978641        1
0.978886        1
0.978915        1
0.979491        1

[512277 rows x 1 columns]

In [37]:
xgu.reset_index()

         index     PipeId  Incidence
0            0  446859944   0.069545
1            1  428124500   0.239829
2            2  438428871   0.059600
3            3  429034569   0.377791
4            4  411184477   0.309308
...        ...        ...        ...
909728  909728  235426649   0.117816
909729  909729  235426673   0.210248
909730  909730  235426707   0.175256
909731  909731  190956601   0.180414
909732  909732  228228379   0.139468

[909733 rows x 3 columns]

In [38]:
xgu_n = xgu[xgu['Incidence'] > 0.5]

In [39]:
xgu_n

           PipeId  Incidence
17      448689302   0.525198
74      184053681   0.645414
233      56904825   0.546613
234      56905395   0.625326
430      51233505   0.552729
...           ...        ...
909704  190956806   0.549436
909705  190956820   0.772090
909721  190957150   0.708402
909722  190956594   0.669384
909725  190956620   0.703624

[180725 rows x 2 columns]